{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "fd"
     "gitui"
     "neovim"
     "node"
     "nushell"
     "ripgrep"
     "starship"
     "viu" -}}

{{ $casks := list
     "gitup"
     "wezterm" -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
       "elixir"
       "exercism"
       "podman") -}}
{{   $casks = concat $casks (list
       "docker"
       "spotify") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
